body {

}

#album {
    width: 100%;
}

titulo-princípal {
     padding-left: 20px;
}

.titulo-centralizado{
	  text-align: center
}

#eras {
   width: 20%;
}

.d-flex {
  display: flex;
  text-align: center;
  font-size: 18px;
}

img,p {
  padding: 18px
}